<h1>Articles</h1>

<% @articles.each do |article| %>
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title"><%= article.title %></span>
            <p><%= article.content %></p>
            <hr>
            <p>Written by <%= article.author %> at <%= article.created_at %></p>
          </div>
          <div class="card-content">
            <strong></strong>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
<% end %>

<a href="<%= new_article_path  %>">Create new article</a>