<h1>Articles</h1>

<% @articles.each do |article| %>
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title"><%= article.title %></span>
            <p><%= truncate(article.content) %></p>
            <hr>
            <p>Written by <%= article.author %> at <%= article.created_at %></p>
          </div>
          <div class="card-action">
            <a href="/articles/<%= article.id  %>">Read article</a>
          </div>
        </div>
      </div>
    </div>
<% end %>
